In [31]:
import pandas as pd
import numpy as np
import seaborn as sns 
import matplotlib.pyplot as plt

In [32]:
df=pd.read_csv(r"C:\Users\Bhupender Singh\Downloads\train.csv")

In [33]:
df.head()

         date  store  item  sales
0  2013-01-01      1     1     13
1  2013-01-02      1     1     11
2  2013-01-03      1     1     14
3  2013-01-04      1     1     13
4  2013-01-05      1     1     10

In [34]:
df.isnull().sum()

date     0
store    0
item     0
sales    0
dtype: int64

In [35]:
df.shape

(913000, 4)

In [36]:
df.describe()

               store           item          sales
count  913000.000000  913000.000000  913000.000000
mean        5.500000      25.500000      52.250287
std         2.872283      14.430878      28.801144
min         1.000000       1.000000       0.000000
25%         3.000000      13.000000      30.000000
50%         5.500000      25.500000      47.000000
75%         8.000000      38.000000      70.000000
max        10.000000      50.000000     231.000000

In [37]:
df.duplicated().sum()

np.int64(0)

In [38]:
parts = df['date'].str.split('-', n=2, expand=True)

df['years'] = parts[0].astype(int)
df['month'] = parts[1].astype(int)
df['days'] = parts[2].astype(int)

df.head()

         date  store  item  sales  years  month  days
0  2013-01-01      1     1     13   2013      1     1
1  2013-01-02      1     1     11   2013      1     2
2  2013-01-03      1     1     14   2013      1     3
3  2013-01-04      1     1     13   2013      1     4
4  2013-01-05      1     1     10   2013      1     5

In [39]:
df.drop(columns=['date'], inplace=True)

In [40]:
df

        store  item  sales  years  month  days
0           1     1     13   2013      1     1
1           1     1     11   2013      1     2
2           1     1     14   2013      1     3
3           1     1     13   2013      1     4
4           1     1     10   2013      1     5
...       ...   ...    ...    ...    ...   ...
912995     10    50     63   2017     12    27
912996     10    50     59   2017     12    28
912997     10    50     74   2017     12    29
912998     10    50     62   2017     12    30
912999     10    50     82   2017     12    31

[913000 rows x 6 columns]

In [41]:
from sklearn.preprocessing import StandardScaler
ss=StandardScaler()
scaled=ss.fit_transform(df)

In [43]:
x = df.drop(columns=['sales'])
y = df['sales']

In [44]:
from sklearn.model_selection import train_test_split

In [45]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=42)

In [47]:
x_train.shape,x_test.shape

((639100, 5), (273900, 5))

In [48]:
y_train.shape , y_test.shape

((639100,), (273900,))

In [49]:
df.columns

Index(['store', 'item', 'sales', 'years', 'month', 'days'], dtype='object')

In [50]:
from sklearn.linear_model import LinearRegression, Lasso, Ridge

In [52]:
le=LinearRegression()
linear=le.fit(x_train,y_train)
y_pred_linear=linear.predict(x_test)

In [54]:
from sklearn.metrics import mean_squared_error , mean_absolute_error 
import numpy as np

In [57]:
mse=mean_squared_error(y_test,y_pred_linear)
mae=mean_absolute_error(y_test,y_pred_linear)
rmse=np.sqrt(mse)

print("mse",mse)
print("mae",mae)
print("rmse",rmse)

mse 792.8618123787707
mae 22.623106015194207
rmse 28.157801980601587

In [59]:
from sklearn.ensemble import RandomForestRegressor
Re=RandomForestRegressor()
random=Re.fit(x_train,y_train)
y_pred_random=random.predict(x_test)

In [61]:
mse=mean_squared_error(y_test,y_pred_random)
mae=mean_absolute_error(y_test,y_pred_random)
rmse=np.sqrt(mse)

print("mse",mse)
print("mae",mae)
print("rmse",rmse)

mse 126.29337631179261
mae 8.318140270171597
rmse 11.238032581897626

In [65]:
from xgboost import XGBRegressor
xgb = XGBRegressor(
    n_estimators=300,     # number of trees
    learning_rate=0.05,   # step size
    max_depth=6,          # tree depth
    random_state=42
)

xgb.fit(x_train, y_train)
y_pred_xgb=xgb.predict(x_test)

In [66]:
mse=mean_squared_error(y_test,y_pred_xgb)
mae=mean_absolute_error(y_test,y_pred_xgb)
rmse=np.sqrt(mse)

print("mse",mse)
print("mae",mae)
print("rmse",rmse)

mse 115.03298950195312
mae 8.070610046386719
rmse 10.725343327929094